name: minimal-api-test
services:
  # Logging
  seq:
    image: datalust/seq
    ports:
      - "5340:80"
      - "5341:5341"
    environment:
      ACCEPT_EULA: Y
    volumes:
      - seq_data:/data
    restart: unless-stopped

  # Keycloak (IdP)
  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    restart: unless-stopped

volumes:
  seq_data:
